/* Define custom color */
:root {
  --mm-yellow: #EEBF63;
  --mm-blue: #90C0E8;
  --mm-green: #6FC2C5;
  --mm-yellow-dark: #CD921E;
  --mm-blue-dark: #486074;
  --mm-green-dark: #386163;
  --mm-dark: #1C1C1C;
  --mm-gray-dark: #2F2F2F;
  --mm-gray-100: #F1F1F1;
  --mm-gray-200: #E1E1E1;
}

@font-face{
  font-family: "Poppins";
  src: url("/fonts/Poppins-Regular.ttf");
}

@font-face{
  font-family: "Poppins";
  src: url("/fonts/Poppins-Bold.ttf");
  font-weight: bold;
}

@font-face{
  font-family: "Poppins";
  src: url("/fonts/Poppins-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face{
  font-family: "Poppins";
  src: url("/fonts/Poppins-Medium.ttf");
  font-weight: 500;
}

@font-face{
  font-family: "Poppins";
  src: url("/fonts/Poppins-MediumItalic.ttf");
  font-weight: 500;
  font-style: italic;
}

@font-face{
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
}
@font-face{
  font-family: "Poppins";
  src: url("/fonts/Poppins-SemiBoldItalic.ttf");
  font-weight: 600;
  font-style: italic;
}

* {
  font-family: "Poppins", sans-serif;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

body {
  background: var(--mm-dark);
  color: var(--mm-gray-100);
}

.container {
  padding: 0 20px;
  max-width: 960px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

nav .nav-left .brand a {
  color: var(--mm-gray-100);
  text-decoration: unset;
  font-size: 1.2em;
  font-weight: bold;
}

nav .nav-right ul {
  display: flex;
  margin: 0;
  padding-top: 5px;
}

nav .nav-right ul li {
  margin-right: 30px;
  list-style: none;
  cursor: pointer;
}

nav .nav-right ul li a{
  color: var(--mm-gray-100);
  text-decoration: unset;
}

nav .nav-right ul li.active a,
nav .nav-right ul li:hover a{
  color: var(--mm-yellow);
}

main.container {
  margin-top: 20px;
}

.header {
  display: flex;
  margin-top: 50px;
}

.header .header-left {
  flex: 1;
}
.header .header-right {
  flex: 1;
}

.c-yellow {
  color: var(--mm-yellow);
}

.green-underline {
  position: relative;
}

.green-underline::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 5px;
  left: 0px;
  top: 38px;
  background: var(--mm-green);
  border-radius: 50%;
}

/* .text-desc {
  font-size: 0.80em;
} */
.header-follow-me {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.header-follow-me p {
  margin-right: 5px;
}

.header-follow-me a {
  margin-left: 12px;
}

.header-follow-me a img {
  width: 25px;
}

.header-left-inner h1 {
  margin-bottom: 40px;
}

.header-button {
  margin-top: 15px;
}

.btn {
  background-color: unset;
  padding: 0.5em 1em;
  color: var(--mm-gray-100);
  border: 1px solid var(--mm-yellow-dark);
  border-radius: 0.4em;
  cursor: pointer;
  position: relative;
}

.btn > span {
  position: relative;
  z-index: 2;
}

.btn > span > img {
  position: relative;
  top: 3px;
  left: 0;
  height: 15px;
  margin-right: 5px;
}

.btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  bottom: 0;
  background-color: var(--mm-yellow-dark);
  border-color: var(--mm-yellow-dark);
  color: var(--mm-gray-100);
  z-index: 1;
  transition: 0.3s;
  outline: none;
  border-radius: 0.4em;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}


.btn:hover:after {
  width: 100%;
}
.btn.active:after {
  width: 100%;
  left: unset;
  right: 0;
}
.btn.active:hover:after {
  width: 0;
}

.header-button .btn.active {
  margin-right: 10px;
}

.header-right-inner {
  position: relative;
}

.header-right-inner img {
  position: absolute;
  top: 20px;
  right: 0;
  width: calc(100% - 9rem);
}

.header-right-inner img:first-child {
  right: 40px;
  top: -10px;
}

aside {
  margin-top: 130px;
}

.review-portfolio {
  background-color: var(--mm-gray-dark);
  border-radius: 25px;
  display: flex;
  padding: 40px;
}

.review-portfolio img {
  width: 100%;
}

.review-portfolio .review-left{
  flex: 2;
}
.review-portfolio .review-right{
  flex: 3;
  padding-left: 30px;
}

.review-portfolio .review-left img {
  border-radius: 25px;
  height: 100%;
  object-fit: cover;
}

.review-right-header {
  display: flex;
}
.prh-left,
.prh-right {
  flex: 1;
}

.prh-right h6,
.prh-left h6 {
  font-size: 3em;
  margin: 0;
}
.prh-left h6 span {
  color: var(--mm-green);
}
.review-right-content p {
  margin: 20px 0;
}
.prh-right img,
.prh-right h6 {
  display: inline-block;
}
.prh-right img{
  height: 20px;
  width: auto;
  margin-left: 10px;
}

.review-star {
  display: flex;
  align-items: center;
}

.review-right-content {
  margin-top: 50px;
}

#recent-projects {
  margin-top: 50px;
}
.rp-header {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

.rp-content {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
.rp-item > img {
  width: 100%;
}
.rp-item {
  width: 48.5%;
}
.rp-item-content h3 {
  margin-top: 10px;
}
.rp-item-actions {
  display: flex;
  margin-top: 5px;
}

.btn-action {
  display: flex;
  align-items: center;
  margin-right: 30px;
  cursor: pointer;
}
.btn-action img {
  width: 17px;
  margin-right: 8px;
}